#order {
    padding: 1.5rem 0;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 3rem;
    position: fixed;
    font-size: 0.5rem;
}



menu {
    width: 100%;
    position: relative;
    overflow: auto;
}

menu ul {
    position: relative;
}

menu ul li {
    background: white;
    border-bottom: 0.04rem solid #e0e0e0;
    position: relative;
}

menu ul li a {
    display: block;
    height: 3rem;
}

menu ul li a img {
    display: block;
    width: 2.8rem;
    float: left;
}

/**************************article***********************/
.shoppingInfo {
    width: 6.2rem;
    float: right;
    font-size: 0.35rem;
}

.shoppingInfo h6 {
    margin: 0.1rem 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 0.5rem;
    white-space: nowrap;
    font-weight: 500;
    font-size: 0.38rem;
}

/****细节标签*********/
.detailTag {
    margin: 0.2rem 0;
}

.detailTag span {
    border: 0.05rem solid red;
    border-radius: 0.15rem;
    padding: 0 0.1rem;
    color: white;
    background: red;
    margin-right: 0.3rem;
}

.detailTag span:first-child {
    background: white;
    color: red;
}

/******单位**********/
.unit {
    color: grey;
    position: absolute;
    bottom: 1rem;
}

.price {
    position: absolute;
    bottom: 0.15rem;
    font-weight: 200;
    margin: 0.2rem 0;
}

.price > span {
    padding: 0 0.35rem 0 0;
    color: red;
}




#pay{
     font-size: 0.6rem;
     position: relative;
    height: 1.1rem;
}


#pay>h6{
    display: inline-block;
    width: 3rem;
    height: 1.05rem;
    font-size: 0.6rem;
    line-height: 1.05rem;
    text-align: center;

}

#pay>div{
    width: 5rem;
    height: 1.05rem;
     line-height: 1.05rem;
    text-align: center;
}
#pay span{
    color:red;
}
#pay>button{
    width: 2rem;
    height: 1.05rem;

}
#pay h6, #pay div,#pay button{
    float: left;
}