{% extends 'main.html' %}
{% load static %}

{% block css %}
    <style>
    form{
        padding: 1.5rem 0;
        font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
        overflow: auto;
        height: 100%;
        width: 100%;
        padding-bottom: 3rem;
        position: fixed;
        font-size: 0.4rem;
    }
    </style>
{% endblock %}

{% block body %}

    <form action="/regist/" method="post">

        姓名：<input type="text" name="name" placeholder=""><br/><label id="a"></label>
        <br/>
        初始密码：<input type="password" name="psw1"  placeholder=""><br/>
        确认密码：<input type="password" name="psw2"  placeholder=""><label id="b"></label><br/>
        年龄：<input type="number" name="age"  placeholder=""><br/>
        性别：<input type="radio" name="sex" id="nan" /><label for="nan">男</label>
                <input type="radio" name="sex" id="nv" /><label for="nv">女</label>
        <br/>
        邮箱：<input type="email" name="email" placeholder=""/><br/>
        验证码：<img src="/getyzm/" />
        <input type="text" name="code" maxlength="4"/><label id="c"></label><br/>
        <button id="btn" type="button">注册</button>
    </form>



{% endblock %}

{% block js %}
    <script src="{% static 'js/regist.js' %}"></script>
{% endblock %}